/* ************* Reset Styles  *********** */

body {
  font-family: "Raleway", sans-serif;
}

a {
  color: black;
}

/* ************* Bootstrap Styles   *********** */

.navbar {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  transition: all 0.4s ease-in-out;
}

.navbar:hover {
  --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.nav-item {
  font-weight: 600;
}
/* ************* My Styles *********** */

#table {
  margin-top: 21px;
}

.logocafe {
  height: 55px;
  width: 55px;
}

.img-fluid {
  height: 300px;
  width: 300px;
}
.img-fluid-2 {
  border-radius: 30px;
  margin-left: 150px;
}

.navbar-collapse {
  justify-content: center;
}

.nav-link:hover {
  background-color: transparent !important;
  text-decoration: underline 3px;
}

.dropdown-item:hover {
  background-color: rgb(11, 83, 50, 0.8);
  transition: all 0.2s ease-in-out;
}

.bg-gradiente {
  background-image: linear-gradient(
    to right,
    #6d6d6d,
    #ffffff
  ); /* Degradado de #d8d8d8 a blanco */
}

.pp {
  margin-top: -1rem;
}

h1 {
  margin-bottom: 0rem;
}

.bg-success {
  background-color: #0b4329 !important ;
}

.bg-color-card {
  background-color: #0b4329;
}

.linkcardcolor {
  color: sienna;
}

.carousel-caption {
  background-color: rgba(
    25,
    135,
    84,
    0.6
  ); /* Cambia el valor de 0.5 según la opacidad deseada (0 = transparente, 1 = opaco) */
  z-index: 99;
}

.carousel-caption h5,
.carousel-caption p {
  opacity: 1; /* Establece la opacidad completa para el texto */
  color: black;
}

.imgmenu {
  height: 170px !important;
  width: 170px !important;
  border-radius: 50%; /* Hace que la imagen sea circular */
  overflow: hidden; /* Recorta cualquier parte de la imagen que se extienda más allá del borde circular */
  border: 1px solid whitesmoke; /* Borde inicialmente */
  transition: border-color 0.01s ease; /* Transición suave para el cambio de color */
}

.imgmenu:hover {
  border-color: #448a69; /* Cambio de color del borde al pasar el mouse */
  border-width: 8px; /* Aumento del grosor del borde */
}

.firstrow {
  border-bottom: 1px solid #999;
}

.titulo {
  border-bottom: 1px solid #999;
}

.img-item{
   width: 120px;
   height: 120px;
}

/*/ X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .nav-link:hover {
    background-color: whitesmoke;
    opacity: 60%;
  }
}

/*/ X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
}
